

*{
    margin: 0;
    padding: 0;
   
  }
  
  .main{
    width: 100%;
    /* height: 40vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin: 70px auto;
    
  }
  .card{
    width: 13rem;
    height: 14rem;
    /* background-color: rgb(243, 242, 245); */
    box-shadow: 0px 5px 10px rgb(184, 183, 183);
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(179, 242, 242);
    position: relative;
    }
  .part{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: rgb(10, 10, 177);
    

  }
  .image{
    position: absolute;
    top: 20px;
    right: 35px;
    width: 70%;
    height: 60%;
    border-radius: 50%;
    /* background-color: aqua; */
  }
  .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid rgb(179, 242, 242);
  }
  .content{
    position: absolute;
    top: 150px;
    left: 30px;
    margin-top: 15px;

  }
  .content h3{
    font-size: 19px;
    color: rgb(130, 14, 14);
  }
  .category{
    font-size: 13px;
    color: grey;
  }
  .price{
    color: rgb(21, 99, 32);
  }
  